<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://thymeleaf.org">>
<head>
    <title> News </title>
    <link rel="stylesheet" href="styles.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        table {font-family: arial, sans-serif; border-collapse: collapse; width: 100%; }td, th {
            border: 1px solid #dddddd; text-align: left; padding: 8px;}tr:nth-child(even) {background-color: #dddddd;}
    </style>
</head>
<body>


<h1 align="center">News</h1>
<div style="margin: 100px">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Tytuł</th>
            <th scope="col">Treść</th>


        </tr>
        </thead>
        <tbody>

        <tr th:each="news: ${allNews}">
            <td th:text="${news.title}"/>
            <td th:text="${news.Content}"/>

        </tr>
        </tbody>
    </table>
</div>



<div style="margin: 30px" align="center">
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>